/**
 * ---------------------
 *  Custom
 * ---------------------
 */
.dropify-wrapper .dropify-message p{
    color:black;
}

.hide-content{
    display: none;
}
.cursor-pointer {
    cursor: pointer;
}
.float-message {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 100;
}

.active,
.header_nav .active,
.menu_nav .active,
.sidebar_nav .active{
    color: #bbe432;
}
.float-bottom-left{
    left: 10%;
}
.float-bottom-right{
    right: 10%;
}
.float-bottom-left,
.float-bottom-right{
    position: fixed;
    bottom:10%;
    padding: 30px;
    background-color: #202026;
    box-shadow: -1rem 0 3rem #000;
    z-index: 98;
}
.float-bottom-left textarea,
.float-bottom-right textarea{
    height: 120px;
    line-height: 30px;
}
.float-bottom-left select,
.float-bottom-right select{
    height: 50px !important;
    padding: 0px 5px; }

.overflow-scroll-y-70{
    height: 70%;
    overflow-y: scroll;
}::-webkit-scrollbar {
    width: 0px;
    background: transparent;
 }
.overflow-scroll-y-100{
    height: 100%;
    overflow-y: scroll;
}::-webkit-scrollbar {
    width: 0px;
    background: transparent;
 }
